.btn-black {
	background-color: #f6b56f;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

.btn-black:hover { 					
	background-color:#d67e1f;
	transition: color 0.3s ease;
}